{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/home_page.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
{% endblock head %}
{% block title %}Beauty{% endblock title %}



{% block body %}
  <div class="search col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form role="form" class="form-inline" action="" method="get">
      <div class="form-group">
        <input class="search-text-field .form-control" type="text" name="q" placeholder="Введите запрос">
      </div>
      <button class="search-button btn btn-xs" type="submit">Найти</button>
    </form>
  </div>

  {% if not blogers and not product and not brands and not video and not errors %}
    <div class="col-md-12 col-lg-12">
    </div>
  {% elif errors %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3 class="error">Пустой запрос</h3>
    </div>
  {% else %}  
    <div class="result-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% if blogers %}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <p class="amount-res">Найдено {{ blogers|length }} блогера(ов).</p>
          <ul>
            {% for bloger in blogers %}
              <li><a class="result-item" href="{{ bloger.get_absolute_url }}">{{ bloger.nikname }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      
      {% if products %}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <p class="amount-res">Найдено {{ products|length }} продуктa(ов).</p>
          <ul>
            {% for product in products %}
              <li><a class="result-item" href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if brands %}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <p class="amount-res">Найдено {{ brands|length }} бренда(ов).</p>
          <ul>
            {% for brand in brands %}
              <li><a class="result-item" href="{{ brand.url }}">{{ brand.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if video %}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <p class="amount-res">Найдено {{ video|length }} видео.</p>
          <ul>
            {% for video in video %}
              <li><a class="result-item" href="{{ video.get_absolute_url }}">{{ video.video_name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="myCarousel" class="carousel slide" data-interval="300000" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for blogers in list_blogers%}
          <li data-target="#myCarousel" data-slide-to="{{ bloger.id }}"></li>
        {% endfor %}
      </ol>   
    
      <div class="carousel-inner">
        <div class="active item">
          <div class="carousel-caption">
            <a href="/btblogers/blogers_list/"><img class="active-img img-responsive img-rounded center-block" src="{% static 'img/cover2.jpg' %}"/>
            <h3>Блогеры</h3></a>
          </div>
        </div>

        {% for bloger in list_blogers %}
          <div class="item">
            <div class="carousel-caption">
              <a href="{{ bloger.get_absolute_url }}"><img class="active-img img-responsive img-rounded center-block" src="{{ bloger.foto.url }}"/>
              <h3>{{ bloger.nikname }}</h3></a>
            </div>
          </div>
        {% endfor %}

        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

{% endblock body %}
