{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock head %}
{% block title %}{{ product.name }}{% endblock title %}

{% block body %}
	<body>
		<div>
			<h1> {{ product.name }} от {{ product.brand_name }} </h1>
			<h3> {{ product.type_name }}</h3>
			{% if product.foto %}
				<img src="{{ product.foto.url }}" 
					 height="{{ img_size.height }}" width="{{ img_size.width }}" alt='PHOTO'/>
			{% endif %}
			{% if product.additional_info %} 
				<h3> {{ product.additional_info }} </h3>
			{% endif %}
		</div>
		<div>	
			<ul>
				{% if product.color %} <li> Цвет: {{ product.color }} </li> {% endif %}
				{% if product.price %} <li> Средняя цена: {{ product.price }} </li> {% endif %}
				{% if product.url %} 
					<li> <a href={{ product.url }}> URL продукта </a> </li> {% endif %}
				<li>Оценка продукта: {{ product.mark }}</li>
			</ul>
		</div>

	</body>
{% endblock body %}
