{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/product_dis.css' %}">
{% endblock head %}
{% block title %}{{ product.name }}{% endblock title %}

{% block body %}
  <div class="container-fluid">
    <div class="product-name col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>{{ product.name }} от {{ product.brand_name }}</h1><hr>
    </div>

    <div class="product-description col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="product-img">
          <img src="{{ product.foto.url }}" alt='PHOTO' class="image img-responsive"/>
        </div>
      </div>
      <div class="product-info col-xs-12 col-sm-12 col-md-6 col-lg-6">
        {% if product.additional_info %}
          <blockquote class="product-quote">
            {{ product.additional_info }}
          </blockquote>
        {% endif %}
        <div class="product-add-info col-xs-12 col-sm-12 col-md-12 col-lg-12" > 
          <ul> 
            <li>Тип продукта: <span class="field-content">{{ product.type_name }}</span></li>
            <li>Цвет: <span class="field-content">{{ product.color }}</span></li>
            <li>Средняя цена: <span class="field-content">{{ product.price }} ₽ </span></li>
            <li> <a href={{ product.url }}>Ссылка на продукт</a></li>
            <!--<li>Оценка продукта пользователями сайта: <meter value="{{ product.mark }}" max="10" min="0" low="3" high="8" optimum="5"><span class="field-content">{{ product.mark }}</span></meter></li>-->
          </ul>
        </div>
      </div>

      <div class="product-comments col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Комментарии к продукту</h1><hr>
        {% for item in comment %}
         <blockquote class="product-quote">
            {{ item.0.comment }}<footer>{{ item.0.author }}</footer>
          </blockquote>
        {% endfor %}
        <div class="comments">
          <a href="{{ product.get_comment_url }}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>
    </div>
  </div>


{% endblock body %}
