{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/bloger_list.css' %}">
{% endblock head %}

{% block title %}
  Видео
{% endblock title %}

{% block body %}
  <div class="item-title container">
    <h1>Видео</h1>
  </div>
  <div class="row">
    <div class="item-name col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {% if video_list %}
        <ul>
          {% for video in video_list %}
            <li><a href = "{{ video.get_absolute_url }}">{{ video.video_name }}</a>
              {% for author in video.id_blogers.all %}
                <li><a href="{{ author.get_absolute_url }}">{{ author.nikname }}</a></li>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <h2>Нет видео</h2>
      {% endif %} 
    </div>
    <div class="img-girl col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{% static 'img/girl4.jpg' %}"/>
    </div>
  </div>

{% endblock body %}