.head-line {
  text-align: right;
  padding-right: 1%;
  width: 100%;
  
  background-color: #231726;
  color: #f5f4f6;
}

.page-header {
  margin: 0%;
  padding: 0%;

  width: 100%;

  background: url("img/back_white.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-imd-title {
  margin-top: -27%;
  
  width: 40px;
  height: 40px;
}

.navbar-header,
#navbarCollapse {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f4Ebf4;
}

#navbarCollapse a {
  color: #900273;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.title {
  padding-left: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.title a {
  margin-left: 2%;

  color: #900273;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}