.container-fluid {
  font-family: 'Ubuntu', sans-serif;
}

.bloger-nikname {
  color: #523555;
  font-size: 40px;
}

.bloger-nikname h1 {
  margin-left: 3%;
}

.img-bloger {
  margin-left: -1%;
}

.quote-bloger {
  color: #523555;
}

.quote-footer {
  color: #89c7fb;
}

.icons-inst, .icons-youtube {
  margin-top: 1.6%;
}

.item-title {
  color: #523555;
}

.item-icon {
  display: inline-block;
  position: relative;
  
  margin-right: 1%;
  margin-bottom: 1%;
}

.item-icon
.item-description {
  display: block;
  position: absolute;

  top:0;
  width: 100%;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 

  color: #efebf0;
  padding:10px;
  background-color:rgba(82, 53, 85, 0.5);
}

.item-icon a {
  color: #efebf0;
  font-size:18px;
}

.item-icon span {
  font-size:12px; 
}

.product-img {
  height: 180px;
  width: 250px;
}