.video-name {
  margin-left: 3%;

  color: #523555;
  font-size: 30px;
}

.container-fluid {
    font-family: 'Ubuntu', sans-serif;

}
.icons-youtube {
  margin-top: 1.6%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}